In [1]:
x = 5
print(type(x))

<class 'int'>

In [2]:
x = "Hello World"
print(type(x))

<class 'str'>

In [3]:
x = 20.5
print(type(x))

<class 'float'>

In [4]:
x = ["apple", "banana", "cherry"]
print(type(x))

<class 'list'>

In [8]:
x = ("apple", "banana", "cherry",)
print(type(x))

<class 'tuple'>

In [6]:
x = ("apple")
print(type(x))

<class 'str'>

In [7]:
x = ("apple",)
print(type(x))

<class 'tuple'>

In [9]:
x = {"name" : "John", "age" : 36}
print(type(x))

<class 'dict'>

In [10]:
x = True
print(type(x))

<class 'bool'>

In [17]:
x = 5
x = float(x)
print(type(x))

<class 'float'>

In [19]:
x = 5.5
x = int(x)
print(type(x))

<class 'int'>

In [20]:
x = "Hello World"
print(len(x))

11

In [21]:
txt = "Hello World"
x = txt[0]
print(x)

H

In [22]:
txt = "Hello World"
x = txt[2:5]
print(x)

llo

In [23]:
txt = " Hello World "
x = txt.strip()
print(x)

Hello World

In [24]:
txt = "Hello World"
txt = txt.upper()
print(txt)

HELLO WORLD

In [25]:
txt = "Hello World"
txt = txt.lower()
print(txt)

hello world

In [26]:
txt = "Hello World"
txt = txt.replace("H", "j")
print(txt)

jello World

In [27]:
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

In [28]:
print(10 > 9)

True

In [29]:
print(10 == 9)

False

In [30]:
print(10 < 9)

False

In [31]:
print(bool("abc"))

True

In [32]:
print(bool(0))

False

In [33]:
print(10 * 5)

50

In [34]:
print(10 / 2)

5.0

In [36]:
fruits = ["apple", "banana"]
if "apple" in fruits:
    print("Yes, apple is a fruit!")

Yes, apple is a fruit!

In [37]:
if 5 !=10:
    print("5 and 10 is not equal")

5 and 10 is not equal

In [39]:
if 5 == 10 or 4 == 4:
    print("At least one of the statements is true")

At least one of the statements is true

In [40]:
fruits = ["apple", "banana", "cherry"]
print(fruits[1])

banana

In [41]:
fruits = ["apple", "banana", "cherry"]
fruits[0]= "kiwi"
print(fruits)

['kiwi', 'banana', 'cherry']

In [43]:
fruits = ["apple", "banana", "cherry"]
fruits.append("orange")
print(fruits)

['apple', 'banana', 'cherry', 'orange']

In [44]:
fruits = ["apple", "banana", "cherry"]
fruits.insert(1,"lemon")
print(fruits)

['apple', 'lemon', 'banana', 'cherry']

In [46]:
fruits = ["apple", "banana", "cherry"]
fruits.remove("banana")
print(fruits)

['apple', 'cherry']

In [47]:
fruits = ["apple", "banana", "cherry"]
print(fruits[-1])

cherry

In [48]:
fruits = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(fruits[2:5])

['cherry', 'orange', 'kiwi']

In [49]:
fruits = ["apple", "banana", "cherry"]
print(len(fruits))

3

In [50]:
fruits = ("apple", "banana", "cherry")
print(fruits[0])

apple

In [51]:
fruits = ("apple", "banana", "cherry")
print(len(fruits))

3

In [52]:
fruits = ("apple", "banana", "cherry")
print(fruits[-1])

cherry

In [53]:
fruits = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(fruits[2:5])

('cherry', 'orange', 'kiwi')

In [54]:
fruits = {"apple", "banana", "cherry"}
if "apple" in fruits:
    print("Yes, apple is a fruit!")

Yes, apple is a fruit!

In [55]:
fruits = {"apple", "banana", "cherry"}
fruits.add("orange")
print(fruits)

{'banana', 'cherry', 'orange', 'apple'}

In [56]:
fruits = {"apple", "banana", "cherry"}
more_fruits = ["orange", "mango", "grapes"]
fruits.update(more_fruits)
print(fruits)

{'cherry', 'mango', 'orange', 'banana', 'grapes', 'apple'}

In [57]:
fruits = {"apple", "banana", "cherry"}
fruits.remove("banana")
print(fruits)

{'cherry', 'apple'}

In [59]:
fruits = {"apple", "banana", "cherry"}
fruits.discard("banana")
print(fruits)

{'cherry', 'apple'}

In [60]:
car =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(car.get("model"))

Mustang

In [63]:
car =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
car["year"] = 2020

print(car["year"])

2020

In [64]:
car =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
car["color"] = "red"
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [65]:
car =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
car.pop("model")
print(car)

{'brand': 'Ford', 'year': 1964}

In [12]:
car ={
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
car.clear()
print(car)

{}

In [13]:
a = 50
b = 10
if a > b :

  print("Hello World")

Hello World

In [14]:
a = 50
b = 10
if a != b :

  print("Hello World")

Hello World

In [15]:
a = 50
b = 10
if a == b:
  print("Yes")
else:
  print("No")

No

In [16]:
a = 50
b = 10
if a == b :
  print("1")
elif a > b :
  print("2")
else :
  print("3")

2

In [17]:
if a == b and c == d:
  print("Hello")

In [24]:
c="x"
d="x"
if a==b or c==d:
  print("Hello")

Hello

In [25]:
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

In [26]:
if 5 > 2: print("Five is greater than two!")

Five is greater than two!

In [27]:
print("Yes") if 5 > 2 else print("No")

Yes

In [32]:
i = 1
while i < 6 :
    print(i)
    i += 1

1
2
3
4
5

In [35]:
i = 1
while i < 6:
  if i == 3:
    break
  i += 1
print(i)

3

In [37]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    
    continue

  print(i)

1
2
4
5
6

In [38]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

In [41]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [43]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":

    continue

  print(x)

apple
cherry

In [45]:
for x in range(6):
  print(x)

0
1
2
3
4
5

In [47]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

apple

In [49]:
def my_function():
  print("Hello from a function")

In [50]:
def my_function():
  print("Hello from a function")

my_function()

Hello from a function

In [52]:
def my_function(fname, lname):
  print("fname")

In [55]:
def my_function(x):
  
    return x + 5
print(x)

banana

In [57]:
def my_function(*kids):
  print("The youngest child is " + kids[2])

In [58]:
def my_function(**kid):
  print("His last name is " + kid["lname"])

In [4]:
x = lambda a:a
print(x)

<function <lambda> at 0x000001F59E792EE8>

In [6]:
class MyClass: 
    x = 5
    print(x)

5

In [7]:
class MyClass:
  x = 5

p1 = MyClass()
print(p1)

<__main__.MyClass object at 0x000001F59E7BFD08>

In [8]:
class MyClass:
  x = 5

p1 = MyClass()

print(p1.x)

5

In [16]:
class Person:
  def __init__(self, fname):
    self.firstname = fname

  def printname(self):
    print(self.firstname)

class Student(Person):
  pass

x = Student("Mike")

x.printname()

Mike

In [17]:
import mymodule

ModuleNotFoundError: No module named 'mymodule'

In [18]:
import mymodule as mx

ModuleNotFoundError: No module named 'mymodule'

In [19]:
import mymodule

print(dir(mymodule))

ModuleNotFoundError: No module named 'mymodule'

In [20]:
from mymodule import person1

ModuleNotFoundError: No module named 'mymodule'