In [1]:
# Titulo: Manual Funny Python

In [2]:
#Autor: Antonio Benalcazar

In [3]:
#Fecha: 2020/06/23

***MANUAL FUNNY PYTHON***

***1. Comentar Línea***

Para comentar una linea en python se usa el signo de # (signo almohadilla o numeral segun la zona del mundo que habites)

Los comentarios pueden ser de dos tipos: de una sola línea o multi-línea:

In [4]:
# Comentar una sola línea

una_variable = 6

Para comentar varias líneas se utiliza tres comillas dobles tanto al inicio como para al final

In [5]:
"""Y este es un comentario
de varias líneas"""

otra_variable = 69

Para comentar en la misma línea del código debe haber un espacio en blanco y Luego del signo (#) 
debe ir un solo espacio en blanco.

In [6]:
a = 15 # Edad de María

***2. Tipos de datos simples***

***Numéricos o number***: Secuencia de dígitos los cuales pueden incluir el (‑) para negativos y el (.) para decimales que
representan números.

    Ejemplo. 26, ‑3, 2.021.

***Cadenas o String***: Secuencia de caracteres alfanuméricos que representan texto. Se escriben con comillas simples o dobles

    Ejemplo. ‘Saludos’, “Fallout76”

***Booleanos o boolean***: Contienen dos elementos True y False que representan los valores
lógicos verdadero y falso.

    Estos datos son inmutables, es decir, su valor es constante y no puede cambiar.

***3. Tipos de datos Compuestos (CONTENEDORES)***

***Listas o lists***: Son secuencias ordenadas de elementos de distintos tipos.
estos se representan con corchetes y los elementos se separan por comas

    Ejemplo. [1, “dos”, [3, 4], True].

***Tuplas o tuples***. Recopilación de Elementos que representan secuencias ordenadas de objetos de distintos tipos. A diferencia de las listas son inmutables, es decir, que no cambian durante la ejecución. Se representan mediante paréntesis y los elementos se separan por comas.

    Ejemplo. (1, ‘dos’, 3)

***Diccionarios o dictionaries***: Recolección de elementos con una clave asociada. Se representan con llaves,
los pares separados por comas y cada par contiene una clave y un objeto asociado separados por dos
puntos.

    Ejemplo. {‘pi’:3.1416, ‘e’:2.718}.

***3.1 Dato Type()***

La clase a la que pertenece un dato se obtiene con el comando type()

In [7]:
type(1)

int

In [8]:
type("Hola")

str

In [9]:
type([1, "dos", [3, 4], True])

list

In [10]:
type({'pi':3.1416, 'e':2.718})

dict

In [11]:
type((1, 'dos', 3))

tuple

***3.2 Números int y float***

In [12]:
type(1)

int

In [13]:
type(-2)

int

In [14]:
type(2.3)

float

***3.3. Operadores aritméticos***

suma (+), 
resta (-), 
producto (*), 
cociente (/), 
cociente división entera (//), 
resto división entera (%), 
potencia (**).

***Jerarquia de operaciones***

* Funciones predefinidas
* Potencias
* Productos y cocientes
* Sumas y restas

Se puede saltar el orden de evaluación utilizando paréntesis ( ).

In [15]:
2+3

5

In [16]:
5*-2

-10

In [17]:
5/2

2.5

In [18]:
(2+3)**2

25

***3.4 Operadores lógicos con números***

Devuelven un valor lógico o booleano.

* (igual que) ==, 
* (mayor que) >, 
* (menor que) <, 
* (mayor o igual que) >= ,
* (menor o igual que) <= , 
* (distinto de) != .

In [19]:
3==3

True

In [20]:
3.1<=3

False

In [21]:
 -1!=1

True

***3.5  Cadenas (clase str)***

Secuencia de caracteres alfanuméricos que representan texto. Se escriben entre comillas sencillas ’ o dobles”.

In [22]:
 'Python'
 "123"
 'True'
 # Cadena vacía
 ''
 # Cadena con un espacio en blanco
 ' '
 # Cambio de línea
 '\n'
 # Tabulador '\t'

'\n'

Cada carácter tiene asociado un índice que permite acceder a él.